# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/

# Frontend
node_modules/
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tsbuildinfo

# Database
*.db
*.sqlite
*.sqlite3

# Local uploaded media
backend/storage/

# Build / packaging
dist/
build/
*.spec
*.egg-info/
backend/exiftool.exe
backend/exiftool_files

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.idea/
.vscode/
*.swp

# Sensitive
config.ini
secrets.json
*.key
